<!doctype html>
<html>
<head>
  <title> SoongPiler-JAVA</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src='colors.js'></script>

</head>

<body>
  <h1><a href="index.html" style="color: skyblue">SoongPiler-데이터와 연산</a></h1>
  <!-- <input id = 'night_day' type="button" value="night" onclick="
  nightDayHandler(this);"> -->
  <div id="grid">
    <ol>
      <li><a href="1.html"> JAVA란</a> </li>
      <li><a href="2.html" style="text-docoration:underline; color:blue;"> 데이터와 연산</a> </li>
      <li><a href="3.html"> 숫자와 연산</a> </li>
      <li><a href="4.html"> 문자열 다루기</a> </li>
      <li><a href="5.html"> 변수</a> </li>
      <li><a href="6.html"> 입력과 출력</a> </li>
      <li><a href="7.html"> 수업을 마치며</a> </li>
    </ol>

    <div id="article">
    <h2> SoongPiler-데이터와 연산 </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WWAicgDYBDg"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <p>이번 시간에는, 다양한 Data 타입과 그에 대한 연산을 공부하겠습니다.<br>
      첫번째 영상은 데이터와 연산 내용입니다.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_D13-YBz4qk"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <p> 두번째 영상은 데이터 타입에 대한 내용입니다.</p>
    <img src="html_coding_image.jpg" width="50%">
    <p style="margin-top: 0px;">
      <a href="../controller/compile.php" style="text-decoration:underline;">직접 도전해 보세요!</a>
    </p>
    </div>
  </div>
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://soongpiler.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>
</html>
